<div class="relative flex pt-32 justify-center h-screen bg-cover bg-center" style="background-image: url('../../../assets/images/bgimg3.webp')">
    <div class="absolute inset-0 bg-black opacity-40"></div> <!-- Optional dark overlay for text readability -->
    
    <div class="relative text-white text-center z-10 pt-16 pl-12"> <!-- Added padding-top to move content up -->
      <h1 class="title text-4xl md:text-6xl font-bold mb-4 ">Wildlife Sanctuary</h1>
      <h1 class="title text-4xl md:text-6xl font-bold mb-4">Management System</h1>
      <p class="subtitle text-lg md:text-2xl">
        One and only solution for Sanctuary Management,
      </p>
      <p class="subtitle text-lg md:text-2xl mb-8">
        Animal Care, and Conservation Efforts
      </p>
      <button (click)="onLogin()" class="login-button py-3 px-12 bg-green-500 text-white text-lg rounded-md hover:bg-green-700 transition">
        Login
      </button>
    </div>
  </div>
  